<!DOCTYPE html>
<html>
<head>
  <title>ChefConsole</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
		<li><a href="#nodes">Nodes</a>
		<li><a href="#clients">Clients</a>
	</ul>

	<div id="active_content" class="active-content"></div>
</body>
</html>
